.main button{
    background:linear-gradient(90deg,rgb(183, 214, 249),rgb(61, 187, 245),rgb(3, 188, 250));
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 8px;
    width: 12%;
    margin-top: 3%; 
    margin-left: 44%;
    font-family:"Playfair Display", serif;
    font-weight: 600;
}

.h1{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 12%;
    color: #0382c1;  
}